flowfiles/MLX.json
{"flowContents":{"identifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","instanceIdentifier":"2e4dab68-0186-1000-edc4-14223a1de486","name":"MLX","comments":"","position":{"x":1288.0,"y":584.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d33216f3-482c-3794-8861-8fb910475f05","instanceIdentifier":"0186101e-af3f-1e79-a737-d38b20c60900","name":"Extract Image Link","comments":"","position":{"x":1144.0,"y":1528.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"postresults":"${post.results:unescapeJson()}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","link":"${post.results:jsonPath('$.data.link')}","Stateful Variables Initial Value":null},"propertyDescriptors":{"postresults":{"name":"postresults","displayName":"postresults","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"link":{"name":"link","displayName":"link","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"c00ab2bb-bbd9-361f-a158-292eb86706e6","instanceIdentifier":"01861000-af3f-1e79-9622-60fac0545d14","name":"All Attributes","comments":"","position":{"x":552.0,"y":1528.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"a47d71b1-d82e-3e40-b957-46499e2b9e31","instanceIdentifier":"2e79af3f-0186-1000-e585-3202d11230f4","name":"imgUR Post Results","comments":"","position":{"x":1144.0,"y":1712.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"link, filename, uuid,file.lastModifiedTime","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"c9e58851-62aa-35c2-8eda-b210d7e922fa","instanceIdentifier":"2e527723-0186-1000-f447-95ae7c814676","name":"PutFile","comments":"","position":{"x":560.0,"y":1328.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"9563bdaa-8973-3a6f-94ba-6daf63e181ec","instanceIdentifier":"2e772164-0186-1000-e355-9438956e9255","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":1128.0,"y":2096.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.19.1"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"964fdb46-91ba-32b1-b61f-fbea59216e0c","bootstrap.servers":"localhost:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"372682a4-45a9-3453-af40-f55ed1e496cd","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"mlx-scans","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"1d885c81-bed7-35cc-b869-b0275ffe7765","instanceIdentifier":"2e4d8b7f-0186-1000-6b8d-a0ebdfa0061d","name":"Retrieve Thermal Scans","comments":"","position":{"x":1152.0,"y":928.0},"type":"org.apache.nifi.processors.standard.ListSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"Minimum File Age":"10 sec","et-initial-listing-target":"all","Ignore Dotted Files":"true","Port":"22","record-writer":null,"proxy-configuration-service":null,"Distributed Cache Service":null,"et-time-window":"3 hours","Ciphers Allowed":null,"Proxy Type":"DIRECT","Connection Timeout":"90 sec","Path Filter Regex":null,"listing-strategy":"timestamps","follow-symlink":"true","Minimum File Size":"1024 B","Search Recursively":"true","Strict Host Key Checking":"false","File Filter Regex":null,"Maximum File Age":null,"Http Proxy Username":null,"Hostname":"192.168.1.84","Maximum File Size":null,"Remote Path":"/opt/demo/images","Host Key File":null,"Use Compression":"false","Message Authentication Codes Allowed":null,"Send Keep Alive On Timeout":"true","Proxy Port":null,"Data Timeout":"240 sec","Private Key Path":null,"Username":"tspann","target-system-timestamp-precision":"auto-detect","Key Exchange Algorithms Allowed":null,"et-state-cache":null,"Key Algorithms Allowed":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"follow-symlink":{"name":"follow-symlink","displayName":"Follow symlink","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"5adeec93-556f-37a6-9e66-eb39d28b2c09","instanceIdentifier":"2e51cda7-0186-1000-1c59-ee7a95234bee","name":"PostImageProcessor","comments":"","position":{"x":1152.0,"y":1320.0},"type":"com.dataflowdeveloper.processors.PostImageProcessor","bundle":{"group":"com.dataflowdeveloper","artifact":"nifi-postimage-nar","version":"1.1"},"properties":{"fieldname":"image","basicusername":null,"imagetype":"image/gif","headername":"Authorization","headervalue":"Client-ID x","imagename":"${filename}","basicpassword":null,"url":"https://api.imgur.com/3/upload"},"propertyDescriptors":{"fieldname":{"name":"fieldname","displayName":"fieldname","identifiesControllerService":false,"sensitive":false},"basicusername":{"name":"basicusername","displayName":"basicusername","identifiesControllerService":false,"sensitive":false},"imagetype":{"name":"imagetype","displayName":"imagetype","identifiesControllerService":false,"sensitive":false},"headername":{"name":"headername","displayName":"headername","identifiesControllerService":false,"sensitive":false},"headervalue":{"name":"headervalue","displayName":"headervalue","identifiesControllerService":false,"sensitive":false},"imagename":{"name":"imagename","displayName":"imagename","identifiesControllerService":false,"sensitive":false},"basicpassword":{"name":"basicpassword","displayName":"basicpassword","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"28f2810d-f6a1-3d0b-91d2-d84768d87528","instanceIdentifier":"2e4de4b9-0186-1000-3a96-df157f9f6bb6","name":"FetchSFTP","comments":"","position":{"x":1152.0,"y":1136.0},"type":"org.apache.nifi.processors.standard.FetchSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"Port":"22","Remote File":"${filename:prepend('/opt/demo/images/')}","proxy-configuration-service":null,"Create Directory":"false","Ciphers Allowed":null,"Disable Directory Listing":"false","Proxy Type":"DIRECT","Completion Strategy":"Delete File","fetchfiletransfer-notfound-loglevel":"ERROR","Connection Timeout":"360 sec","Move Destination Directory":null,"Strict Host Key Checking":"false","Http Proxy Username":null,"Hostname":"192.168.1.84","Host Key File":null,"Use Compression":"false","Message Authentication Codes Allowed":null,"Send Keep Alive On Timeout":"true","Proxy Port":null,"Data Timeout":"360 sec","Private Key Path":null,"Username":"tspann","Key Exchange Algorithms Allowed":null,"Key Algorithms Allowed":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Remote File":{"name":"Remote File","displayName":"Remote File","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"fetchfiletransfer-notfound-loglevel":{"name":"fetchfiletransfer-notfound-loglevel","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"1527016b-343c-3277-ada4-e275544fa233","instanceIdentifier":"2e773732-0186-1000-1581-3799a0b30414","name":"Query Img UR Results","comments":"","position":{"x":1128.0,"y":1904.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"all":"select * from flowfile","cache-schema":"true","dbf-default-precision":"10","record-writer":"964fdb46-91ba-32b1-b61f-fbea59216e0c","record-reader":"372682a4-45a9-3453-af40-f55ed1e496cd","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"299c2309-7943-3c12-8c87-660d904c3d58","instanceIdentifier":"01861005-af3f-1e79-e00d-10b5888b29ea","name":"Validate Image Upload Metadata","comments":"","position":{"x":552.0,"y":1744.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"all":"select * from flowfile","cache-schema":"true","dbf-default-precision":"10","record-writer":"964fdb46-91ba-32b1-b61f-fbea59216e0c","record-reader":"372682a4-45a9-3453-af40-f55ed1e496cd","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"d892b663-9c4d-3f6e-824d-60173d27fd89","instanceIdentifier":"01861004-af3f-1e79-49a6-32718e517097","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":544.0,"y":1968.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.19.1"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"964fdb46-91ba-32b1-b61f-fbea59216e0c","bootstrap.servers":"localhost:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"372682a4-45a9-3453-af40-f55ed1e496cd","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"mlx-metadata","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"80c7a107-b26d-38ab-9f8a-aa9942e15c11","instanceIdentifier":"0186101f-af3f-1e79-d305-c4051aa7f781","name":"","source":{"id":"d33216f3-482c-3794-8861-8fb910475f05","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Extract Image Link","comments":"","instanceIdentifier":"0186101e-af3f-1e79-a737-d38b20c60900"},"destination":{"id":"a47d71b1-d82e-3e40-b957-46499e2b9e31","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"imgUR Post Results","comments":"","instanceIdentifier":"2e79af3f-0186-1000-e585-3202d11230f4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"28228539-0002-3de8-abef-791f29294517","instanceIdentifier":"2e77fa8b-0186-1000-4288-14887479e040","name":"","source":{"id":"1527016b-343c-3277-ada4-e275544fa233","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Query Img UR Results","comments":"","instanceIdentifier":"2e773732-0186-1000-1581-3799a0b30414"},"destination":{"id":"9563bdaa-8973-3a6f-94ba-6daf63e181ec","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"2e772164-0186-1000-e355-9438956e9255"},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"32422d41-ac9d-32bc-9c53-52c9f940ce51","instanceIdentifier":"0186100c-af3f-1e79-8153-ab8dbdcf385f","name":"","source":{"id":"c00ab2bb-bbd9-361f-a158-292eb86706e6","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"All Attributes","comments":"","instanceIdentifier":"01861000-af3f-1e79-9622-60fac0545d14"},"destination":{"id":"12e2bc7f-d2d7-38ad-8b5b-1384cc804510","type":"FUNNEL","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Funnel","comments":"","instanceIdentifier":"01861003-af3f-1e79-2100-8760d93804c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"8aa7fbf1-c8d8-356e-8d59-4b97d7bf448e","instanceIdentifier":"2e5207ae-0186-1000-8516-ec7e660850d8","name":"","source":{"id":"28f2810d-f6a1-3d0b-91d2-d84768d87528","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"FetchSFTP","comments":"","instanceIdentifier":"2e4de4b9-0186-1000-3a96-df157f9f6bb6"},"destination":{"id":"3aa62b31-e6f4-3abf-962b-72a90c9aa5ba","type":"FUNNEL","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Funnel","comments":"","instanceIdentifier":"2e51ed87-0186-1000-8c2f-72de8437cb90"},"labelIndex":1,"zIndex":0,"selectedRelationships":["not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1792.0,"y":1064.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"05b6db41-4d31-31e0-a400-9ec205168cc3","instanceIdentifier":"2e526c4a-0186-1000-d9cb-c70935b0778f","name":"","source":{"id":"5adeec93-556f-37a6-9e66-eb39d28b2c09","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"PostImageProcessor","comments":"","instanceIdentifier":"2e51cda7-0186-1000-1c59-ee7a95234bee"},"destination":{"id":"d33216f3-482c-3794-8861-8fb910475f05","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Extract Image Link","comments":"","instanceIdentifier":"0186101e-af3f-1e79-a737-d38b20c60900"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"76e5b53f-b795-38ec-99d8-629dc9e7cc82","instanceIdentifier":"01861022-af3f-1e79-32f0-d0eb92f5cf52","name":"","source":{"id":"a47d71b1-d82e-3e40-b957-46499e2b9e31","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"imgUR Post Results","comments":"","instanceIdentifier":"2e79af3f-0186-1000-e585-3202d11230f4"},"destination":{"id":"1527016b-343c-3277-ada4-e275544fa233","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Query Img UR Results","comments":"","instanceIdentifier":"2e773732-0186-1000-1581-3799a0b30414"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"cfcf4def-42f0-33bc-9c32-a11cafb2e648","instanceIdentifier":"2e51fa54-0186-1000-1e73-b542e1e2d1ed","name":"","source":{"id":"28f2810d-f6a1-3d0b-91d2-d84768d87528","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"FetchSFTP","comments":"","instanceIdentifier":"2e4de4b9-0186-1000-3a96-df157f9f6bb6"},"destination":{"id":"3aa62b31-e6f4-3abf-962b-72a90c9aa5ba","type":"FUNNEL","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Funnel","comments":"","instanceIdentifier":"2e51ed87-0186-1000-8c2f-72de8437cb90"},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"5899288b-402a-32c2-a18d-3c8a1899b0b2","instanceIdentifier":"2e78104f-0186-1000-48cb-83e12433d421","name":"","source":{"id":"1527016b-343c-3277-ada4-e275544fa233","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Query Img UR Results","comments":"","instanceIdentifier":"2e773732-0186-1000-1581-3799a0b30414"},"destination":{"id":"e51f0a66-8966-31a4-b53e-f516c8fc7495","type":"FUNNEL","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Funnel","comments":"","instanceIdentifier":"2e5255ec-0186-1000-97ef-73f55e6e3947"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"3fa1ae28-dbec-38db-92a5-3fdb55e5014f","instanceIdentifier":"01861007-af3f-1e79-cf61-6007aabe4b98","name":"","source":{"id":"299c2309-7943-3c12-8c87-660d904c3d58","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Validate Image Upload Metadata","comments":"","instanceIdentifier":"01861005-af3f-1e79-e00d-10b5888b29ea"},"destination":{"id":"12e2bc7f-d2d7-38ad-8b5b-1384cc804510","type":"FUNNEL","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Funnel","comments":"","instanceIdentifier":"01861003-af3f-1e79-2100-8760d93804c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"97fbb77f-0a1a-376d-8d20-d288e041664c","instanceIdentifier":"2e598d06-0186-1000-6d25-1823ebeb25e1","name":"","source":{"id":"5adeec93-556f-37a6-9e66-eb39d28b2c09","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"PostImageProcessor","comments":"","instanceIdentifier":"2e51cda7-0186-1000-1c59-ee7a95234bee"},"destination":{"id":"3aa62b31-e6f4-3abf-962b-72a90c9aa5ba","type":"FUNNEL","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Funnel","comments":"","instanceIdentifier":"2e51ed87-0186-1000-8c2f-72de8437cb90"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"33b583c3-08f0-39ad-97c5-f022fb1bd3e4","instanceIdentifier":"01861006-af3f-1e79-6245-c81af4f91d93","name":"","source":{"id":"299c2309-7943-3c12-8c87-660d904c3d58","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Validate Image Upload Metadata","comments":"","instanceIdentifier":"01861005-af3f-1e79-e00d-10b5888b29ea"},"destination":{"id":"d892b663-9c4d-3f6e-824d-60173d27fd89","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"01861004-af3f-1e79-49a6-32718e517097"},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"6fa5df34-47ec-3ac1-8025-f4a8d1707808","instanceIdentifier":"2e595f8d-0186-1000-e6d3-31a35de20f4d","name":"","source":{"id":"28f2810d-f6a1-3d0b-91d2-d84768d87528","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"FetchSFTP","comments":"","instanceIdentifier":"2e4de4b9-0186-1000-3a96-df157f9f6bb6"},"destination":{"id":"5adeec93-556f-37a6-9e66-eb39d28b2c09","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"PostImageProcessor","comments":"","instanceIdentifier":"2e51cda7-0186-1000-1c59-ee7a95234bee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"df2b1535-8971-3a6a-bb84-6b0cac445f1b","instanceIdentifier":"2e781f0c-0186-1000-331d-493f6123343c","name":"","source":{"id":"9563bdaa-8973-3a6f-94ba-6daf63e181ec","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"2e772164-0186-1000-e355-9438956e9255"},"destination":{"id":"e51f0a66-8966-31a4-b53e-f516c8fc7495","type":"FUNNEL","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Funnel","comments":"","instanceIdentifier":"2e5255ec-0186-1000-97ef-73f55e6e3947"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"e4a4da58-2974-31a7-86ea-739e4aa9cf1e","instanceIdentifier":"2e5233f2-0186-1000-1428-836e6bf90a63","name":"","source":{"id":"28f2810d-f6a1-3d0b-91d2-d84768d87528","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"FetchSFTP","comments":"","instanceIdentifier":"2e4de4b9-0186-1000-3a96-df157f9f6bb6"},"destination":{"id":"3aa62b31-e6f4-3abf-962b-72a90c9aa5ba","type":"FUNNEL","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Funnel","comments":"","instanceIdentifier":"2e51ed87-0186-1000-8c2f-72de8437cb90"},"labelIndex":1,"zIndex":0,"selectedRelationships":["permission.denied"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1904.0,"y":944.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"83869857-fb2a-3d03-98fc-82ecc06acf76","instanceIdentifier":"2e51e3e9-0186-1000-08a5-1d684460f254","name":"","source":{"id":"28f2810d-f6a1-3d0b-91d2-d84768d87528","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"FetchSFTP","comments":"","instanceIdentifier":"2e4de4b9-0186-1000-3a96-df157f9f6bb6"},"destination":{"id":"c9e58851-62aa-35c2-8eda-b210d7e922fa","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"PutFile","comments":"","instanceIdentifier":"2e527723-0186-1000-f447-95ae7c814676"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"9ae6c7b0-f5d1-3f1c-bdd1-6a0763d8b941","instanceIdentifier":"01861008-af3f-1e79-0110-3c4d74fd0a90","name":"","source":{"id":"d892b663-9c4d-3f6e-824d-60173d27fd89","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"01861004-af3f-1e79-49a6-32718e517097"},"destination":{"id":"12e2bc7f-d2d7-38ad-8b5b-1384cc804510","type":"FUNNEL","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Funnel","comments":"","instanceIdentifier":"01861003-af3f-1e79-2100-8760d93804c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"a6d531d5-16e4-327e-ad38-f7e70aa018ad","instanceIdentifier":"01861009-af3f-1e79-f0eb-95e8af9d030f","name":"","source":{"id":"c00ab2bb-bbd9-361f-a158-292eb86706e6","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"All Attributes","comments":"","instanceIdentifier":"01861000-af3f-1e79-9622-60fac0545d14"},"destination":{"id":"299c2309-7943-3c12-8c87-660d904c3d58","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Validate Image Upload Metadata","comments":"","instanceIdentifier":"01861005-af3f-1e79-e00d-10b5888b29ea"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"c95347f4-fb18-3a60-907c-ab74fd07b573","instanceIdentifier":"2e4df33b-0186-1000-3c7b-f7a99466c814","name":"","source":{"id":"1d885c81-bed7-35cc-b869-b0275ffe7765","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Retrieve Thermal Scans","comments":"","instanceIdentifier":"2e4d8b7f-0186-1000-6b8d-a0ebdfa0061d"},"destination":{"id":"28f2810d-f6a1-3d0b-91d2-d84768d87528","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"FetchSFTP","comments":"","instanceIdentifier":"2e4de4b9-0186-1000-3a96-df157f9f6bb6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"8642b095-11e8-332d-b4e1-e264b3a54d78","instanceIdentifier":"01861023-af3f-1e79-cedb-b1b474946585","name":"","source":{"id":"a47d71b1-d82e-3e40-b957-46499e2b9e31","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"imgUR Post Results","comments":"","instanceIdentifier":"2e79af3f-0186-1000-e585-3202d11230f4"},"destination":{"id":"e51f0a66-8966-31a4-b53e-f516c8fc7495","type":"FUNNEL","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Funnel","comments":"","instanceIdentifier":"2e5255ec-0186-1000-97ef-73f55e6e3947"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"570d8bf0-d796-357e-96f4-c71c9e7650f7","instanceIdentifier":"01861025-af3f-1e79-099c-d51c16c345d1","name":"","source":{"id":"d33216f3-482c-3794-8861-8fb910475f05","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"Extract Image Link","comments":"","instanceIdentifier":"0186101e-af3f-1e79-a737-d38b20c60900"},"destination":{"id":"c00ab2bb-bbd9-361f-a158-292eb86706e6","type":"PROCESSOR","groupId":"bb3a988d-8547-329d-ac9f-8cf8873a3a80","name":"All Attributes","comments":"","instanceIdentifier":"01861000-af3f-1e79-9622-60fac0545d14"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"}],"labels":[],"funnels":[{"identifier":"e51f0a66-8966-31a4-b53e-f516c8fc7495","instanceIdentifier":"2e5255ec-0186-1000-97ef-73f55e6e3947","position":{"x":1832.0,"y":1944.0},"componentType":"FUNNEL","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"12e2bc7f-d2d7-38ad-8b5b-1384cc804510","instanceIdentifier":"01861003-af3f-1e79-2100-8760d93804c6","position":{"x":200.0,"y":1720.0},"componentType":"FUNNEL","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"3aa62b31-e6f4-3abf-962b-72a90c9aa5ba","instanceIdentifier":"2e51ed87-0186-1000-8c2f-72de8437cb90","position":{"x":1904.0,"y":1160.0},"componentType":"FUNNEL","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"}],"controllerServices":[{"identifier":"372682a4-45a9-3453-af40-f55ed1e496cd","instanceIdentifier":"2e7795a6-0186-1000-1da3-98c02f98fed3","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"},{"identifier":"964fdb46-91ba-32b1-b61f-fbea59216e0c","instanceIdentifier":"2e77b2be-0186-1000-0ea3-1cb9a4f493a4","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bb3a988d-8547-329d-ac9f-8cf8873a3a80"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}